@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  @keyframes bounce-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(4px);
    }
  }

  .animate-bounce-right {
    animation: bounce-right 1s infinite;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.theme-custom {
  --background: 192, 31.25%, 6.27%;
  --foreground: 36 18% 70%;
  --card: 192, 31.25%, 6.27%;
  --card-foreground: 36 18% 70%;
  --popover: 192, 31.25%, 6.27%;
  --popover-foreground: 36 18% 70%;
  --primary: 35, 40%, 64.71%;
  --primary-foreground: 192, 31.25%, 6.27%;
  --secondary: 35 84% 90%;
  --secondary-foreground: 192, 31.25%, 6.27%;
  --muted: 0 0% 80%;
  --muted-foreground: 36 18% 70%;
  --accent: 35 84% 90%;
  --accent-foreground: 192, 31.25%, 6.27%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 33 18% 10%;
  --border: 0 0% 60%;
  --input: 0 0% 80%;
  --ring: 35 84% 60%;

  /* menu Checkout Start */

  /* --menubackground: 197, 43%, 8%;
  --menuforeground: 0, 0%, 0%;
  --menuprimary: 38, 41%, 55%;
  --menusecondary: 35, 84%, 90%;
  --buttonhover: 42, 73%, 41%;
  --itembackground: 197, 44%, 6%;
  --menuprimaryforeground: 36, 18%, 70%;
  --menusecondaryforeground: 0, 0%, 20%;
  --itemdescription: 36, 2%, 47%;
  --itembutton: 0, 0%, 9%;
  --buttondisabled: 0, 0%, 17%;
  --mobilebg: 0, 0%, 0%; */

  --menubackground: 194, 38%, 9%;
  --menuforeground: 0, 0%, 0%;
  --menuprimary: 37, 36%, 65%;
  --menusecondary: 0, 2%, 97%;
  --buttonhover: 37, 32%, 50%;
  --itembackground: 194, 37%, 7%;
  --menuprimaryforeground: 39, 100%, 93%;
  --menusecondaryforeground: 0, 0%, 100%;
  --itemdescription: 0, 2%, 48%;
  --itembutton: 37, 36%, 65%;
  --buttondisabled: 0, 0%, 29%;
  --mobilebg: 194, 38%, 9%;
  --menuwhite: 0, 0%, 100%;
  --borderinput: 0, 0%, 56%;
  --tabbg: 37, 33%, 81%;
  --inputbg: 194, 25%, 9%;
  --placeholder: 0, 6%, 90%;
}

/* Scrolling Text Start */
/* styles.css */
/* styles.css */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.scrolling-text {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

/* Scrolling Text End */

/* Custom scrollbar Start */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  /* Small height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.icon {
  height: 1.25rem;
  /* equivalent to h-5 */
  width: 1.25rem;
  /* equivalent to w-5 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #434343;
  /* Scrollbar color */
  border-radius: 10px;
  /* Pill shape */
  border: 2px solid transparent;
  /* Space around the scrollbar */
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Darker color on hover */
}

/* Custom scrollbar End */

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Add this custom CSS in your global styles file */
@layer utilities {
  .stroke-text {
    -webkit-text-stroke: 1px #e2a14b;
  }
}

/*model viewer*/
#model {
  --progress-bar-color: none;
  --progress-bar-height: 0px;
}

/*border gradient*/
.gradient-border {
  background: #0f1d22;
  position: relative;
  border-radius: 187.5rem 187.5rem 0rem 0rem;
  /* Set the same as border width */
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: -3px;
  /* Same as negative border width */
  left: -3px;
  /* Same as negative border width */
  height: calc(100% + 0px);
  /* Add border width twice (top and bottom) */
  width: calc(100% + 6px);
  /* Add border width twice (left and right) */
  background: linear-gradient(60deg, #df9f4b, #010101, #f79533, #f37055);
  border-radius: 187.5rem 187.5rem 0rem 0rem;
  /* Double the border width for the outer gradient border radius */
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*background lines*/

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #23251f;
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, #23251f 0%, #dcad6b 75%, #dcad6b 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -35%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(2) {
  margin-left: -15%;
}

.line:nth-child(3) {
  margin-left: 15%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

.line:nth-child(4) {
  margin-left: 35%;
}

.line:nth-child(4)::after {
  animation-delay: 3s;
}

@keyframes drop {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

/*text animation*/
.key {
  display: inline-block;
  transition: transform 0.2s;
}

@keyframes pressDown1 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }

  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown2 {
  70%,
  80%,
  100% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(10px);
  }
}

@keyframes pressDown3 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }

  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown4 {
  40%,
  50%,
  100% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(10px);
  }
}

@keyframes pressDown5 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10px);
  }
}

@keyframes pressDown6 {
  60%,
  70%,
  100% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(10px);
  }
}

@keyframes pressDown7 {
  10%,
  20%,
  100% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(10px);
  }
}

@keyframes pressDown8 {
  35%,
  45%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }
}

.key:nth-child(1) {
  animation: pressDown1 2s infinite;
}

.key:nth-child(2) {
  animation: pressDown2 3s infinite;
}

.key:nth-child(3) {
  animation: pressDown3 4s infinite;
}

.key:nth-child(4) {
  animation: pressDown4 2.5s infinite;
}

.key:nth-child(5) {
  animation: pressDown5 2.5s infinite;
}

.key:nth-child(6) {
  animation: pressDown6 3.5s infinite;
}

.key:nth-child(7) {
  animation: pressDown7 2.2s infinite;
}

.key:nth-child(8) {
  animation: pressDown8 3.2s infinite;
}

@layer base {
  .styled_section_head {
    font-family: var(--font-open);
    line-height: 50.96px;
    letter-spacing: 11.56px;
    font-weight: normal;
    font-size: 28px;

    @screen md {
      font-family: var(--font-open);
      line-height: 60.96px;
      letter-spacing: 10.56px;
      font-weight: normal;
      font-size: 46px;
    }
  }

  .menu_item {
    font-family: var(--font-inter);
    text-transform: uppercase;

    line-height: 24.86px;
    letter-spacing: 2.54px;
    font-weight: 500;
    font-size: 14.2px;

    @screen md {
      font-weight: bold;
      letter-spacing: 3.74px;
      line-height: 26.86px;
      font-size: 16.2px;
    }
  }

  .menu_item_sub {
    font-weight: 300;
    padding-right: 50px;

    font-size: 14px;
    line-height: 23.6px;

    @screen md {
      font-size: 16px;
      line-height: 25.6px;
    }
  }
}
